In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.iplt20.com/auction/2022'

In [3]:
r = requests.get(url)  # output tells website gives permission to html data or not

In [4]:
# print(r)

In [5]:
soup = BeautifulSoup(r.text, 'lxml')

In [15]:
table = soup.find('table', class_ = 'ih-td-tab auction-tbl')

In [7]:
header = table.find_all('th', class_ = 'skip-filter')

In [8]:
title = []
for i in header:
    title.append(i.text)
title

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [9]:
IPL_T20_2022 = pd.DataFrame(columns= title)

In [10]:
rows = table.find_all('tr')

In [11]:
for i in rows[1:]:
    first_td = i.find_all('td')[0].find('div', class_ = 'ih-pt-ic').text.strip()
    data = i.find_all('td')[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    l = len(IPL_T20_2022)
    IPL_T20_2022.loc[l] = row

print(IPL_T20_2022)

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23

### Table 2

In [33]:
table1 = soup.find_all('table', class_ = 'ih-td-tab auction-tbl')[1]

In [34]:
header1 = table1.find_all('th')

In [37]:
titles = []
for i in header1:
    titles.append(i.text)
titles

['TEAM', 'PLAYER', 'TYPE ', 'PRICE']

In [55]:
df = pd.DataFrame(columns=titles)

In [57]:
rows = table1.find_all('tr')

In [56]:
for i in rows[1:]:
    first_td = i.find_all('td')[0].find(class_ = 'ih-pt-cont').text.strip()
    data = i.find_all('td')[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    l=len(df)
    df.loc[l] = row
df

,TEAM,PLAYER,TYPE,PRICE
0,Mumbai Indians,Ishan Kishan,Wicket Keeper,"₹15,25,00,000"
1,Chennai Super Kings,Deepak Chahar,Bowler,"₹14,00,00,000"
2,Kolkata Knight Riders,Shreyas Iyer,Batsman,"₹12,25,00,000"
3,Punjab Kings,Liam Livingstone,All-Rounder,"₹11,50,00,000"
4,Delhi Capitals,Shardul Thakur,Bowler,"₹10,75,00,000"
5,Royal Challengers Bangalore,Harshal Patel,All-Rounder,"₹10,75,00,000"
6,Royal Challengers Bangalore,Wanindu Hasaranga,All-Rounder,"₹10,75,00,000"
7,Sunrisers Hyderabad,Nicholas Pooran,Wicket Keeper,"₹10,75,00,000"
8,Gujarat Titans,Lockie Ferguson,Bowler,"₹10,00,00,000"
9,Lucknow Super Giants,Avesh Khan,Bowler,"₹10,00,00,000"
10,Rajasthan Royals,Prasidh Krishna,Bowler,"₹10,00,00,000"

### Table 3

In [83]:
url = 'https://www.iplt20.com/auction/2021'

In [84]:
r = requests.get(url)

In [60]:
soup = BeautifulSoup(r.text, 'lxml')

In [85]:
table = soup.find_all('table')

In [86]:
table1 = table[0]

In [87]:
header1 = table1.find_all('th')

In [88]:
title = []
for i in header1:
    title.append(i.text)
title

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [89]:
df = pd.DataFrame(columns=title)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [90]:
rows = table1.find_all('tr')

In [91]:
for i in rows[1:]:
    first_td = i.find_all('td')[0].find(class_ = 'ih-pt-cont').text.strip()
    data = i.find_all('td')[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    l = len(df)
    df.loc[l] = row
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,55,00,000                 8            25
1               Delhi Capitals    ₹2,15,00,000                 8            25
2        Kolkata Knight Riders    ₹3,20,00,000                 8            25
3               Mumbai Indians    ₹3,65,00,000                 8            25
4                 Punjab Kings   ₹18,80,00,000                 8            25
5             Rajasthan Royals   ₹13,65,00,000                 8            24
6  Royal Challengers Bangalore      ₹35,00,000                 8            22
7          Sunrisers Hyderabad    ₹6,95,00,000                 8            25

### Table 4

In [92]:
table2 = table[1]

In [95]:
header = table2.find_all('th')

In [96]:
title = []
for i in header:
    title.append(i.text)
title

['TEAM', 'PLAYER', 'TYPE ', 'PRICE']

In [97]:
df = pd.DataFrame(columns=title)

In [102]:
rows = table2.find_all('tr')

In [106]:
for i in rows[1:]:
    first_td = i.find_all('td')[0].find(class_ = 'ih-pt-cont').text.strip()
    data = i.find_all('td')[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    l = len(df)
    df.loc[l] = row
df

,TEAM,PLAYER,TYPE,PRICE
0,Rajasthan Royals,Christopher Morris,All-Rounder,"₹16,25,00,000"
1,Royal Challengers Bangalore,Kyle Jamieson,All-Rounder,"₹15,00,00,000"
2,Royal Challengers Bangalore,Glenn Maxwell,All-Rounder,"₹14,25,00,000"
3,Punjab Kings,Jhye Richardson,Bowler,"₹14,00,00,000"
4,Chennai Super Kings,Krishnappa Gowtham,All-Rounder,"₹9,25,00,000"
5,Punjab Kings,Riley Meredith,Bowler,"₹8,00,00,000"
6,Chennai Super Kings,Moeen Ali,All-Rounder,"₹7,00,00,000"
7,Punjab Kings,Shahrukh Khan,All-Rounder,"₹5,25,00,000"